@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --clr-primary-hue: 245;

  /* fonts */
  --fnt-logo: "Raleway", sans-serif;
  --fnt-headings: "Raleway", sans-serif;
  --fnt-body: "Noto Serif", sans-serif;

  /* primary colors */
  --clr-primary: hsl(var(--clr-primary-hue), 65%, 50%);
  --clr-primary-light: hsl(220, 35%, 52%);
  --clr-primary-lighter: hsl(220, 46%, 80%);
  --clr-primary-lightest: hsl(var(--clr-primary-hue), 45%, 96%);
  --clr-primary-dark: hsl(220, 59%, 15%);
  --clr-primary-darker: hsl(216, 44%, 13%);
  --clr-primary-darkest: hsl(225, 9%, 9%);

  /* secondary colors */
  --clr-secondary: hsl(240, 4%, 11%);
  --clr-secondary-light: hsl(330, 47%, 62%);
  --clr-secondary-lighter: hsl(330, 40%, 82%);
  --clr-secondary-lightest: hsl(330, 19%, 94%);
  --clr-secondary-dark: hsl(330, 66%, 15%);
  --clr-secondary-darker: hsl(332, 25%, 12%);
  --clr-secondary-darkest: hsl(330, 13%, 12%);

  /* neutral colors */
  --clr-white: hsl(60, 33%, 98%);
  --clr-white-80: hsla(60, 33%, 98%, .8);
  --clr-white-60: hsla(60, 33%, 98%, .6);
  --clr-light-gray: hsl(0, 0%, 75%);
  --clr-lighter-gray: hsl(0, 0%, 90%);
  --clr-gray: hsl(240, 3%, 47%);
  --clr-dark-gray: hsl(240, 5%, 30%);
  --clr-darker-gray: hsl(240, 1%, 19%);
  --clr-black: hsl(240, 3%, 7%);

  /* utility colors */
  --clr-success: hsl(150, 65%, 26%);
  --clr-info: hsl(221, 77%, 25%);
  --clr-warning: hsl(30, 70%, 55%);
  --clr-error: hsl(348, 74%, 33%);
  --clr-disabled: var(--clr-gray);

  /* shadow colors */
  --clr-shadow-medium: 0px 20px 20px hsla(0,0%,0%,.05);

}

img {
  width: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5 {
  font-family: var(--fnt-headings);
  color: var(--clr-primary);
}

p {
  line-height: 1.65rem;
  margin-bottom: .85rem;
  margin-top: .85rem;
}

a {
  color: var(--clr-primary-lighter);
  text-decoration: none;
  font-weight: 700;
}

a.reverse {
  color: var(--clr-primary);
}

/* HTML */

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: var(--fnt-body);
  color: var(--clr-dark-gray);
  position: relative;
  background-color: var(--clr-white);
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-snap-align: start;
  scroll-padding-top: 4rem;
}

/* body:has(header.folded) {
  overflow: auto;
} */

body.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background: rgb(18,51,84);
  background: radial-gradient(circle, rgba(18,51,84,1) 1%, rgba(19,22,31,1) 100%); 
  font-family: var(--fnt-body);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 730px) {
  html {
    font-size: 14px;
  }
}

/* header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100dvh;
  font-family: var(--fnt-body);
  position: relative;
  transition: 300ms;
}

header.folded {
  height: .5rem;
  position: relative;
  top: 0;
  padding: 0;
  background: var(--clr-primary-darker);
}

.logo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.logo-main svg {
  width: 200px;
  animation: rotate 15s linear infinite;
}

header.folded .logo-main {
  /* width: 5rem;
  height: 5rem;
  padding: 0;
  position: absolute;
  top: 4.65rem; */
  display: none;
}

/* header.folded .logo-main svg {
  animation: none;
} */

.quote {
  color: var(--clr-primary-lightest);
  font-family: "Noto Serif", serif;
  width: 100%;
  max-width: 360px;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  animation: fade-in-out 10s ease-in-out;
}

.quote .author {
  font-family: var(--fnt-headings);
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  letter-spacing: 2px;
}

header.folded .quote {
  display: none;
}

.button, .button:active {
  color: var(--clr-primary-light);
  transition: 300ms;
  opacity: .9;
  padding: .65rem .65rem 2rem;
  color: var(--clr-primary-light);
  bottom: 0;
  position: absolute;
}

header.folded .button, header.folded .button:active {
  opacity: 1;
  position: absolute;
  bottom: -1.7rem;
  left: 50%;
  transform: translate(-50%,0);
  padding: .36rem;
  color: var(--clr-primary-lighter);
  animation: none;
  z-index: 20;
  background-color: var(--clr-primary-darker);
  border-radius: 2rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

header.folded .button:hover {
  padding-top: 1.15rem;
  color: var(--clr-secondary-lightest);
}

.button:hover {
  color: var(--clr-secondary-lightest);
  opacity: 1;
  padding-bottom: 1.5rem;
}

.button i {
  font-size: 1.45rem;
  transition: 300ms;
}

header.folded .button i {
  transform: rotate(180deg);
}

/* .button:hover i {
  font-size: 2.15rem;
} */

.btn-hide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .15rem;
  font-size: .85rem;
}

.button span {
  font-family: var(--fnt-headings);
  font-size: .75rem;
}

header.folded .button span {
  display: none;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@media screen and (max-width: 730px) {
  .quote {
    max-width: 100%;
    padding: 2rem 4rem;
  }
}

/* section defaults */

section {
  margin: 0 auto;
  scroll-padding-top: 4rem;
  position: relative;
  overflow: hidden;
}

.boxed {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  padding: 10rem 2rem 0;
  margin: 0 auto;
}

section:last-of-type {
  padding-bottom: 10rem;
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid .col-2 {
  grid-column: span 2;
}

.grid .col-3 {
  grid-column: span 3;
}

.grid .col-4 {
  grid-column: span 4;
}

@media screen and (max-width: 730px) {
  .row {
    padding: 5rem 2rem 0;
  }
}

/* section title */

.section-title h2 {
  font-size: 2.45rem;
  margin-bottom: 2rem;
}

.section-title h3 {
  color: var(--clr-black);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: .9rem;
}

.section-content h3 {
  margin-top: 3rem;
  margin-bottom: 1.65rem;
  color: var(--clr-primary-darker);
}

/* navigation inside hero section */

#masthead .boxed {
  padding: 0 2rem;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

nav img {
  height: 4rem;
  width: 10.5rem;
}

nav .logo-container {
  padding-left: 3rem;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: .85rem;
  padding-right: 3rem;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  transition: 300ms;
}

.menu-toggle:hover {
  color: var(--clr-primary-light);
}

.menu-toggle .close {
  display: none;
}

nav a li {
  list-style: none;
}

nav a {
  color: var(--clr-primary-dark);
  transition: 300ms;
}

nav a:hover {
  border-bottom: 2px solid;
  color: var(--clr-primary);
}

@media screen and (max-width: 730px) {
  nav a:hover {
    border: none;
    color: var(--clr-white);
  }

  nav .logo-container {
    padding-left: 1rem;
  }

  .menu-toggle {
    display: flex;
  }

  ul.top-menu {
    width: 0;
    transition: 300ms;
    display: none;
  }

  #masthead {
    overflow: initial;
  }

  .menu-active ul.top-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: var(--clr-primary-dark);
    width: 200px;
    height: 100vh;
    color: var(--clr-primary-lighter);
    padding-right: 0;
  }

  .menu-active .close {
    display: flex;
    position: fixed;
    z-index: 120;
    color: var(--clr-primary-light);
    top: 2rem;
    transition: 300ms;
  }

  .menu-active .close:hover {
    color: var(--clr-primary-lightest);
  }

  .menu-active a {
    color: var(--clr-primary-lighter);
    font-size: 1rem;
  }

  .menu-active .top-menu > * {
    padding: .5rem 3rem;
    width: 100%;
  }
}

/* hero section */
section.hero {
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-size: cover;
  background-blend-mode: normal;
  padding-bottom: 4rem;
}

section.hero .row {
  padding-bottom: 4rem
}

section.hero .section-title {
  padding-top: 8rem
}

section.hero h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}


@media screen and (max-width: 730px) {
  .section-title h2 {
    font-size: 2rem;
  }
}

/* background items */

.bg-items .blur {
  filter: blur(30px);
  opacity: .55;
}

.bg-items img {
  position: absolute;
  z-index: -10;
}

.bg-items img.blob-01 {
  top: -10%;
  right: 10%;
  z-index: -10;
  width: 400px;
  transform: translateX(20%);
}

.bg-items img.blob-02 {
  top: 50%;
  left: -20%;
  width: 400px;
  transform: translateX(20%);
}

.bg-items img.blob-03 {
  top: 10%;
  right: 0%;
  z-index: -10;
  width: 500px;
  transform: translateX(60%);
}

@media screen and (max-width: 730px) {
  .bg-items img {
    width: 200px;
  }
}

/* cards */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(14rem,100%),1fr));
  gap: 2rem;
  padding: 2rem 0;
  font-size: .9em;
}

.cards.cards-01 i {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card-item {
  padding: 2rem;
  background-color: var(--clr-primary-lightest);
  border-radius: 10px;
  position: relative;
  transition: 300ms;
}

.card-item.opaque {
  background-color: hsla(225,50%,90%, .35); 
}


.card-item i {
  color: var(--clr-primary);
}

.card-item p {
  line-height: 1.35rem;
}

@media screen and (max-width: 730px) {
  .cards {
    gap: 1rem;
    font-size: 1rem;
  }
}

/* subsection */

.subsection-title {
  text-align: center;
  position: relative;
  margin: 4rem auto 0rem;
  width: 80%;
}

.subsection-title h3 {
  text-transform: uppercase;
  background-color: var(--clr-white);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1rem;
  font-size: .85rem;
  letter-spacing: 2px;
  margin-bottom: 0rem;
}

.subsection-title h3::after {
  content: "";
  width: 100%;
  border-top: 1px solid var(--clr-primary-light);
  display: block;
  left: 0;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  z-index: -10;
  opacity: .35;
}

@media screen and (max-width: 730px) {
  .subsection-title h3 {
    color: var(--clr-primary-darker);
  }

  .subsection-title {
    width: 100%;
  }
}


/* partner logos */

.partner-logos {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
  margin: 0;
  gap: 2rem;
}

.partner-logos img {
  padding: 2rem;
  mix-blend-mode: darken;
}

@media screen and (max-width: 730px) {
  .partner-logos {
    grid-template-columns: repeat(auto-fill,minmax(130px, 1fr));
    gap: 1rem;
  }
  .partner-logos img {
    padding: 2rem;
  }
}

/* buttons */

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}

.btn {
  background-color: var(--clr-success);
  font-family: var(--fnt-headings);
  padding: .85rem 1.65rem;
  color: var(--clr-white);
  cursor: pointer;
  border: 1px solid var(--clr-success);
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn.btn-primary {
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary-dark);
}

.btn.btn-secondary {
  background-color: var(--clr-white-60);
  border: 1px solid var(--clr-primary-darker);
  color: var(--clr-secondary-darker);
}

.btn:hover {
  opacity: .9;
}

@media screen and (max-width: 730px) {
  section.hero {
    text-align: left;
    height: initial;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    min-height: fit-content;
  }

  section.hero h2 {
    font-size: 2.65rem;
    line-height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .button-row {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-row > * {
    width: 100%;
    font-size: 1rem;
  }
}

/* projects section */

.cards.masonry {
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}

.card-item.reverse {
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-lightest);
  background-image: linear-gradient(50deg, var(--clr-primary) 60%, #9e3994 80%, #952b2b 100%);
}

.card-item.photo {
  padding: 0;
  overflow: hidden;
}

.card-item img {
  transform: scale(1);
  transition: 300ms;
  height: 100%;
}

.card-item img:hover {
  transform: scale(1.2);
}


.card-item.accent-01 {
  background: url(./assets/images/ftcc-bg-yellow-nodes.png);
}

.card-item.reverse h3 {
  color: var(--clr-primary-lightest);
}

#projects .card-item h3 {
  padding-top: 2rem;
  font-size: 1.65rem;
}
.card-item.reverse h3 {
  color: var(--clr-primary-lightest);
  font-size: 2rem;
}

.card-item.border {
  border: 3px solid var(--clr-primary);
  background-color: transparent;
}

.col-span-2 {
  grid-column: span 2;
}

@media screen and (max-width: 730px) {
  .cards.masonry {
    grid-template-columns: repeat(1,minmax(200px,1fr));
  }

  .cards.cards.masonry > * {
    grid-column: span 2;
  }
}

/* events list */

.events-list {
  padding: 3rem;
}

.event-item {
  margin-bottom: 4rem;
}

p.event-date {
  font-style: var(--fnt-headings);
  background-color: var(--clr-primary-darker);
  font-size: .7rem;
  color: var(--clr-primary-lighter);
  padding: .25rem .95rem;
  width: fit-content;
  border-radius: 6px;
  margin-left: 3rem;
}

p.event-title {
  font-size: 1.45rem;
  font-family: var(--fnt-headings);
  color: var(--clr-primary);
  border-bottom: 2px dotted var(--clr-primary);
  padding-bottom: .65rem;
  margin-bottom: 0rem;
  padding-left: 3rem;
  position: relative;
}

p.event-title::before {
  content: "";
  height: .8rem;
  width: .8rem;
  background-color: var(--clr-primary);
  border-radius: 100%;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  transform: translate(-50%,50%);
}

p.event-description {
  padding-left: 3rem;
}

/* news */

section#news {
  background-color: var(--clr-primary-lightest);
  margin-top: 8rem;
}

.cards.news-list .card-item {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-primary-lightest);
  overflow: hidden;
  padding: 0;
  /* box-shadow: var(--clr-shadow-medium); */
}

.cards.news-list .card-item img {
  height: 20rem;
  transform: scale(1);
  transition: 300ms;
}

.cards.news-list .card-item img:hover {
  transform: scale(1.1);
}


/* .cards.news-list .card-item > *:not(:first-child) {
  padding: 1rem 1rem 0 1rem;
} */

.cards.news-list .card-item .news-card-content {
  padding: 1.65rem 1.65rem 2rem;
  display: flex;
  flex-direction: column;
}

.cards.news-list .card-item .news-card-content h3 {
  color: var(--clr-primary-darker);
}

.cards.news-list .card-item .btn {
  margin-top: .5rem;
  max-width: fit-content;
  width: 200px;
  font-size: .65rem !important;
  padding: 0;
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  transition: 500ms;
  color: var(--clr-primary-lightest);
}

.cards.news-list .card-item .btn:hover {
  width: 100%;
  max-width: 100%;
  transition: 300ms;
  color: var(--clr-primary-lighter);
}

.cards.news-list .card-item .btn i {
  padding: .45rem;
  background: var(--clr-primary-dark);
  font-size: 1rem;
  color: var(--clr-primary-lightest);
}

.cards.news-list .card-item .date {
  font-family: var(--fnt-body);
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-size: .65rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
  width: fit-content;
  padding: .35rem .65rem;
  position: absolute;
  right: 0;
  top: 1rem;
}


@media screen and (max-width: 730px) {
  .cards.news-list {
    gap: 2rem;
    padding: 1rem 0;
  }

  .cards.news-list .card-item {
    display: grid;
    grid-template-columns: 35% auto;
  }

  .cards.news-list .card-item .news-card-content {
    padding-top: 3.65rem;
  }

  .cards.news-list .card-item img {
    height: 100%
  }

  .cards.news-list .card-item .date {
    /* right: initial;
    left: 0;
    top: 2rem; */
  }
}

/* channels list */

.channels {
  display: flex;
  flex-direction: row;
  margin: 4rem auto;
  text-align: center;
}

.channel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  padding: 3rem;
  margin-top: 1rem;
}

.channel-item i {
  font-size: 2rem;
  width: 8rem;
  height: 8rem;
  background-color: var(--clr-primary-lightest);
  border-radius: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--clr-primary-darker);
}

.channel-item h3 {
  margin-top: 3rem;
}

@media screen and (max-width: 730px) {
  .channels {
    flex-direction: column;
  }
}

/* media items */

#news .section-content h3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--clr-primary-darker);
}

.media-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.media-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.media-item:not(:last-child) .media-item-content {
  border-bottom: 1px solid var(--clr-primary-lighter);
  padding-bottom: 1rem;
}

.media-item .date {
  text-align: right;
}

.media-item-content {
  width: 60%;
}

.media-item-content h4 {
  font-size: 1.25rem;
}

/* footer quote */

.footer-quote {
  width: 80%;
  margin: 0 auto 8rem;
  text-align: center;
  color: var(--clr-primary-lighter);
}

.footer-quote p {
  font-style: oblique;
  font-size: 1.45rem;
  line-height: 2.45rem;
}

.footer-quote h5 {
  color: var(--clr-primary-light);
  text-transform: uppercase;
  margin-top: 2rem;
}

/* footer */

footer {
  background: var(--clr-primary-darker);
  /* background-image: url(./assets/images/nodes-galore@4x.png); */
  background-size: 1200px;
  background-repeat: repeat-x;
  backdrop-filter: opacity(.35);
  color: var(--clr-primary-lightest);
  overflow: hidden;
}

.footer-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6rem;
  z-index: -10;
  opacity: .25;
}

footer .row {
  padding-bottom: 10rem;
}

footer h4 {
  color: var(--clr-primary-lighter);
  margin-bottom: 1.65rem;
}

.footer-menu.grid {
  grid-template-columns: repeat(6, 1fr);
}

.footer-menu .footer-about svg {
  width: 200px;
  margin: 0 auto 3rem;
  fill: var(--clr-primary-lighter);
}

@media screen and (max-width: 730px) {

  footer .row {
    padding-bottom: 4rem;
  }

  .footer-menu.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-about {
    text-align: center;
    margin-left: -3rem;
  }
}

/* copyright block*/

.copyright-block {
  margin-top: 6rem;
  font-size: .75rem;
  font-family: var(--fnt-headings);
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dotted var(--clr-primary-light);
  padding-top: 1.5rem;
}

.copyright-block .socials {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.copyright-block .socials > * {
  opacity: .65;
  cursor: pointer;
  transition: 300ms;
}

.copyright-block .socials > *:hover {
  opacity: .85;
}

@media screen and (max-width: 730px) {
  .copyright-block {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;
  }
  .copyright-block .socials {
    gap: 1rem;
  }
}

/* menu */

.menu.menu-vertical {
  list-style: none;
  display: flex;
  gap: .5rem;
}

.menu.menu-vertical {
  flex-direction: column;
}

.menu.menu-horizontal {
  flex-direction: row;
}

/* back to top */

.back-to-top {
  position: fixed;
  bottom: -10rem;
  right: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  color: var(--clr-primary-light);
  background-color: var(--clr-primary-dark);
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 300ms;
}

.back-to-top:hover {
  background-color: var(--clr-primary);
}

.back-to-top a {
  color: var(--clr-primary-lighter);
}

.back-to-top:hover a{
  color: var(--clr-white);
}


.scrolling .back-to-top {
  bottom: 2rem;
  transition: 300ms;
}