@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* fonts */
  --fnt-logo: "Raleway", sans-serif;
  --fnt-headings: "Raleway", sans-serif;
  --fnt-body: "Noto Serif", sans-serif;

  /* primary colors */
  --clr-primary: hsl(220, 70%, 30%);
  --clr-primary-light: hsl(220, 57%, 45%);
  --clr-primary-lighter: hsl(220, 71%, 67%);
  --clr-primary-lightest: hsl(220, 57%, 86%);
  --clr-primary-dark: hsl(220, 60%, 25%);
  --clr-primary-darker: hsl(220, 50%, 20%);
  --clr-primary-darkest: hsl(220, 30%, 15%);

  /* secondary colors */
  --clr-secondary: hsl(330, 70%, 30%);
  --clr-secondary-light: hsl(330, 57%, 45%);
  --clr-secondary-lighter: hsl(330, 71%, 67%);
  --clr-secondary-lightest: hsl(330, 57%, 86%);
  --clr-secondary-dark: hsl(330, 60%, 25%);
  --clr-secondary-darker: hsl(330, 40%, 15%);
  --clr-secondary-darkest: hsl(330, 30%, 8%);

  /* neutral colors */
  --clr-white: hsl(60, 33%, 98%);
  --clr-light-gray: hsl(0, 0%, 75%);
  --clr-lighter-gray: hsl(0, 0%, 90%);
  --clr-gray: hsl(120, 1%, 29%);
  --clr-dark-gray: hsl(180, 1%, 18%);
  --clr-black: hsl(0, 0%, 9%);

  /* utility colors */
  --clr-success: hsl(150, 65%, 26%);
  --clr-info: hsl(221, 77%, 25%);
  --clr-warning: hsl(30, 70%, 55%);
  --clr-error: hsl(348, 74%, 33%);
  --clr-disabled: var(--clr-gray);

}

img {
  width: 100%;
  object-fit: cover;
}

h1, h2, h3, h4 {
  font-family: var(--fnt-headings);
}

p {
  line-height: 1.65rem;
  margin-bottom: .85rem;
  margin-top: .85rem;
}

a {
  color: var(--clr-white);
  text-decoration: none;
}

/* HTML */

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: var(--fnt-body);
  color: var(--clr-black);
  position: relative;
  background-color: var(--clr-white);
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-snap-align: start;
  scroll-padding-top: 4rem;
}

/* body:has(header.folded) {
  overflow: auto;
} */

body.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background: rgb(18,51,84);
  background: radial-gradient(circle, rgba(18,51,84,1) 1%, rgba(19,22,31,1) 100%); 
  font-family: var(--fnt-body);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 730px) {
  html {
    font-size: 14px;
  }
}

/* header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background: rgb(18,51,84);
  background: radial-gradient(circle, rgba(18,51,84,1) 1%, rgba(19,22,31,1) 100%); 
  font-family: var(--fnt-body);
  position: relative;
  transition: 300ms;
}

header.folded {
  min-height: 5rem;
  height: 6rem;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  background: linear-gradient(20deg, rgba(18,51,84,1) 1%, rgba(19,22,31,1) 100%); 
}

.logo-main {
  height: 300px;
  width: 300px;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0;
}

.logo-main img {
  animation: rotate 15s linear infinite;
}

header.folded .logo-main {
  width: 4rem;
  height: 4rem;
  padding: 0;
}

.quote {
  color: var(--clr-primary-lightest);
  font-family: "Noto Serif", serif;
  width: 100%;
  max-width: 320px;
  text-align: center;
  font-size: .8rem;
  font-weight: 300;
  font-style: italic;
  animation: fade-in-out 10s ease-in-out;
}

.quote .author {
  font-family: var(--fnt-headings);
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .6rem;
  letter-spacing: 2px;
}

header.folded .quote {
  display: none;
}

.button, .button:active {
  color: var(--clr-primary-light);
  transition: 300ms;
  opacity: .9;
  background-color: var(--clr-secondary-dark);
  padding: .65rem .65rem 1rem;
  color: var(--clr-secondary-light);
  bottom: 0;
  position: absolute;
}

header.folded .button, header.folded .button:active {
  opacity: 1;
  position: absolute;
  bottom: 1px;
  right: 10%;
  transform: translate(0,100%);
  padding: .8rem .5rem .5rem;
  color: var(--clr-secondary-lighter);
  /* animation: none; */
}

header.folded .button:hover {
  background-color: var(--clr-secondary-dark);
  padding-top: 1.15rem;
  color: var(--clr-secondary-lightest);
}

.button:hover {
  color: var(--clr-secondary-lightest);
  opacity: 1;
  padding-bottom: 2rem;
}

.button i {
  font-size: 1.45rem;
  transition: 300ms;
}

header.folded .button i {
  transform: rotate(180deg);
}

/* .button:hover i {
  font-size: 2.15rem;
} */

.btn-hide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .15rem;
  font-size: .85rem;
}

.button span {
  font-family: var(--fnt-headings);
  font-size: .75rem;
}

header.folded .button span {
  display: none;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* section defaults */

section {
  margin: 0 auto;
  scroll-padding-top: 4rem;
}

.boxed {
  width: 100%;
  max-width: 1280px;
}

.row {
  padding: 4rem 2rem;
}

/* hero section */
section.hero {
  text-align: center;
  padding-top: 2rem;
  height: 90dvh;
  max-height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.hero h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}

.btn {
  background-color: var(--clr-success);
  font-family: var(--fnt-headings);
  padding: .85rem 1.65rem;
  color: var(--clr-white);
  cursor: pointer;
}

.btn.btn-primary {
  background-color: var(--clr-primary-darker);
}

.btn.btn-secondary {
  background-color: var(--clr-secondary);
}

.btn:hover {
  opacity: .9;
}

@media screen and (max-width: 730px) {
  section.hero {
    text-align: left;
    
  }

  section.hero h2 {
    font-size: 2.65rem;
    line-height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .button-row {
    justify-content: flex-start;
  }
}