.blub-01 {
  height: 500px;
  width: 300px;
  position: absolute;
  background-image: linear-gradient(50deg, rgb(8, 38, 200) 20%, rgb(123, 0, 92) 50% ,rgb(159, 45, 0) 80%);
  border-radius: 100%;
  filter: blur(200px);
  z-index: -10;
  transform: rotate(30deg);
  opacity: .7;
}

.blub-02 {
  height: 800px;
  width: 150px;
  position: absolute;
  background-image: linear-gradient(50deg, rgb(8, 38, 200) 20%, rgb(123, 0, 92) 50% ,rgb(159, 45, 0) 80%);
  border-radius: 100%;
  filter: blur(200px);
  z-index: -10;
  transform: rotate(60deg);
  opacity: .6;
  top: 50%;
  left: 10%;
}

.blub-03 {
  height: 800px;
  width: 100px;
  position: absolute;
  background-image: linear-gradient(50deg, rgb(8, 38, 200) 20%, rgb(123, 0, 92) 50% ,rgb(159, 45, 0) 80%);
  border-radius: 100%;
  filter: blur(100px);
  z-index: -10;
  transform: rotate(60deg);
  opacity: .8;
  top: -29%;
  right: 10%;
}


/* linear backgrounds */

.bg-full-01 {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -20;
  background-color: var(--clr-primary-darkest);
  background-image: linear-gradient(-10deg, var(--clr-primary) 0%,var(--clr-primary-dark) 30%, var(--clr-primary-darkest) 90%);
}

.bg-full-02 {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -20;
  background-color: var(--clr-primary-lightest);
  background: url(../images/bg-fairy-floss-01.jpg) bottom no-repeat;
  background-size: cover;
  opacity: .85;
}

.bg-full-03 {
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
}

/* bg elements */

.bg-top-element-01 {
  left: 50%;
  width: 1280px;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
}

@media screen and (max-width: 730px) {
  .bg-full-03 {
    width: 1280px;
  }

  .bg-top-element-01 {
    max-width: inherit;
  }
}

.folded .blub-01, .folded .bg-full-01 {
  display: none;
}